<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nature</title>
    <link rel="stylesheet" th:href="@{/css/all.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" th:href="@{/font-awesome-4.5.0/css/font-awesome.min.css}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/hero-slider-style.css}"/>
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}"/>


    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>

    <body>
    <style>
        .cd-hero-slider li:nth-of-type(1) { background-image: url(static/img/1-nature.jpg); }
        .cd-hero-slider li:nth-of-type(2) { background-image: url(static/img/2.jpg); }
        .green a{
            color:yellowgreen;
        }
        .green i{
            color:green;
        }
        .tm-navbar-bg{
            background-color: transparent;
        }
    </style>
        <div class="cd-hero">
            <div class="cd-slider-nav">
                <nav class="navbar">
                    <div class="tm-navbar-bg">
                        <div class="green">
                            <a class="navbar-brand text-uppercase" href="nature/index.html"><i class="fa fa-solid fa-mountain-sun tm-brand-icon"></i>Nature</a>
                        </div>

                    </div>

                </nav>
            </div>
            <ul class="cd-hero-slider">

                <!-- Page 1 -->
                <li class="selected">
                    <div class="cd-full-width">
                        <div class="container-fluid js-tm-page-content tm-page-pad" data-page-no="1">
                            <br>

                            <div class="row">
                                    <div class="tm-3-col-container">
                                        <div class="container-fluid js-tm-page-content" data-page-no="2" data-page-type="gallery">
                                            <div class="tm-img-gallery-container">
                                                <div class="tm-img-gallery gallery-one">
                                                    <div class="grid-item">
                                                        <figure class="effect-ruby">
                                                            <img src="../static/img/1.jpg" alt="Image" class="img-fluid tm-img">
                                                            <figcaption>
                                                                <h2 class="tm-figure-title">10.10.2018</h2>
                                                                <a href="../static/img/1.jpg">View more</a>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                    <div class="grid-item">
                                                        <figure class="effect-ruby">
                                                            <img src="../static/img/6.jpg" alt="Image" class="img-fluid tm-img">
                                                            <figcaption>
                                                                <h2 class="tm-figure-title">10.10.2018</h2>
                                                                <a href="../static/img/6.jpg">View more</a>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                    <div class="grid-item">
                                                        <figure class="effect-ruby">
                                                            <img src="../static/img/5.jpg" alt="Image" class="img-fluid tm-img">
                                                            <figcaption>
                                                                <h2 class="tm-figure-title">10.10.2018</h2>
                                                                <a href="../static/img/5.jpg">View more</a>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                    <div class="grid-item">
                                                        <figure class="effect-ruby">
                                                            <img src="../static/img/7.jpg" alt="Image" class="img-fluid tm-img">
                                                            <figcaption>
                                                                <h2 class="tm-figure-title">10.10.2022</h2>
                                                                <a href="../static/img/7.jpg">View more</a>
                                                            </figcaption>
                                                        </figure>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="tm-flex">
                                                                <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding tm-white-box-margin-b">
                                                                    <h2 class="tm-text-title">Radovis Plackovica</h2>
                                                                    <p class="tm-text">On 10.10.2018, 200 deciduous and 200 evergreen trees were planted in the municipality of Radovish in Macedonia in the Plachkovica mountain</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul> <!-- .cd-hero-slider -->
            

                    
        </div> <!-- .cd-hero -->
        

        <!-- Preloader, https://ihatetomatoes.net/create-custom-preloading-screen/ -->
        <div id="loader-wrapper">
            
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>

        </div>
        
        <!-- load JS files -->
        <script src="../static/js/jquery-1.11.3.min.js"></script>         <!-- jQuery (https://jquery.com/download/) -->
        <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> <!-- Tether for Bootstrap (http://stackoverflow.com/questions/34567939/how-to-fix-the-error-error-bootstrap-tooltips-require-tether-http-github-h) --> 
        <script src="../static/js/bootstrap.min.js"></script>             <!-- Bootstrap js (v4-alpha.getbootstrap.com/) -->
        <script src="../static/js/hero-slider-main.js"></script>          <!-- Hero slider (https://codyhouse.co/gem/hero-slider/) -->
        <script src="../static/js/jquery.magnific-popup.min.js"></script> <!-- Magnific popup (http://dimsemenov.com/plugins/magnific-popup/) -->

        <script>

            function adjustHeightOfPage(pageNo) {

                var offset = 80;
                var pageContentHeight = 0;

                var pageType = $('div[data-page-no="' + pageNo + '"]').data("page-type");

                if( pageType != undefined && pageType == "gallery") {
                    pageContentHeight = $(".cd-hero-slider li:nth-of-type(" + pageNo + ") .tm-img-gallery-container").height();
                }
                else {
                    pageContentHeight = $(".cd-hero-slider li:nth-of-type(" + pageNo + ") .js-tm-page-content").height();
                }

                if($(window).width() >= 992) { offset = 120; }
                else if($(window).width() < 480) { offset = 40; }

                // Get the page height
                var totalPageHeight = 15 + $('.cd-slider-nav').height()
                                        + pageContentHeight + offset
                                        + $('.tm-footer').height();

                // Adjust layout based on page height and window height
                if(totalPageHeight > $(window).height())
                {
                    $('.cd-hero-slider').addClass('small-screen');
                    $('.cd-hero-slider li:nth-of-type(' + pageNo + ')').css("min-height", totalPageHeight + "px");
                }
                else
                {
                    $('.cd-hero-slider').removeClass('small-screen');
                    $('.cd-hero-slider li:nth-of-type(' + pageNo + ')').css("min-height", "100%");
                }
            }

            /*
                Everything is loaded including images.
            */
            $(window).load(function(){

                adjustHeightOfPage(1); // Adjust page height

                /* Gallery One pop up
                -----------------------------------------*/
                $('.gallery-one').magnificPopup({
                    delegate: 'a', // child items selector, by clicking on it popup will open
                    type: 'image',
                    gallery:{enabled:true}
                });



                /* Browser resized
                -----------------------------------------*/
                $( window ).resize(function() {
                    var currentPageNo = $(".cd-hero-slider li.selected .js-tm-page-content").data("page-no");

                    // wait 3 seconds
                    setTimeout(function() {
                        adjustHeightOfPage( currentPageNo );
                    }, 1000);

                });

                // Remove preloader (https://ihatetomatoes.net/create-custom-preloading-screen/)
                $('body').addClass('loaded');

            });


        </script>

</body>
</html>